[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
pyodbc = "*"
alembic = "*"
sqlalchemy = "*"
mssql = "*"
fastapi = "*"
uvicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
